@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #e0d7cc;
  --background-end-rgb: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #e0d7cc;
    --background-start-rgb: #e0d7cc;
    --background-end-rgb: #f6f6f6;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb);
}
